body
{
    margin: 0;
    padding: 0;
}
.top
{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(197, 176, 100); */
    align-items: center;
}
#nameId
{
    color: rgb(244, 243, 240);
    font-weight: 500;
}
p::first-letter
{
    color: rgb(238, 25, 25);
    font-size: 55px;
}
#menuList
{
    display: inline;
    padding: 30px;
}
a:link
{
    color: rgb(251, 244, 244);
    text-decoration: none;
}
a:visited
{
    color: black;
    text-decoration: none;
}
.menuBar-line
{
    height: 4px;
    width: 25px;
    background-color: #e62962;
    margin-bottom: 4px;
}
.menuBar-line{
    cursor: pointer;
}
#ul
{
    display:block;
}
#profession
{
    height: 50vh;
}

#personal
{
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    color: white;
}
#nameAuthor
{
    color:rgb(238, 25, 25);
}
#fromTo
{
    text-align: center;

}
@media screen and (max-width:500px) 
{
    #ul
    {
        display: none;
        background-color: rgb(26, 25, 24);
        position: absolute;
        top: 65px;
        left: 0px;
        padding: 10px;
        width: 100%;
        cursor: pointer;
    }
    #menuList
    {
        
    } 
    .menuBar-line{
        cursor: pointer;
        display: block;
        margin-right: 20px;
    }  
}