body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.top
{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(197, 176, 100); */
    align-items: center;
}
#nameId
{
    color: rgb(244, 243, 240);
    font-weight: 500;
}
#nameId::first-letter
{
    color: rgba(198, 25, 25, 0.009);
    font-size: 55px;
}
#menuList
{
    display: inline;
    padding: 30px;
}
a:link
{
    color: rgb(251, 244, 244);
    text-decoration: none;
}
a:visited
{
    color: black;
    text-decoration: none;
}
.menuBar-line
{
    height: 4px;
    width: 25px;
    background-color: #fbf8f9;
    margin-bottom: 4px;
}
.menuBar-line{
    cursor: pointer;
}
#ul
{
    display:block;
}
#profession
{
    height: 50vh;
}

#personal
{
    font-weight: lighter;
    font-size: 25px;
    /* text-align: center; */
    color: white;
}
#nameAuthor
{
    color:rgb(18, 17, 17);
}
#personal,#fromTo
{
    line-height: 100px;
}
#profession
{
    background-image: url("./photo/WhatsApp_Image_2024-01-27_at_9.58.36_AM-removebg-preview.png");
    background-position-y:50%;
    background-position-x: 75%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    backface-visibility: visible;
    height: 50vh;
}
#aboutMe
{
    color: aliceblue;
    text-align: justify;
}
#info
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-around;
    /* background-color: rgba(255, 255, 255, 0.734); */
    border-radius: 10px;
}
#extra
{
    margin-top: 40px;
    width: 130px;
    border-radius: 10px;
    display: none;
    position: relative;
}
#web,#analyst
{
    text-align: justify;
    margin-top: 20px;
    color: white;
}
#extra
{
    box-shadow: 7px 4px 2px rgb(131, 21, 24);
}
@media screen and (max-width:765px) 
{
    #personal,#fromTo
    {
        font-size: 20px;
        line-height: 80px;
    }
    #info
    {
        width: 100%;
        background:none;
        background-image: url();
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;
        /* background-position-y:bottom ; */
        height: 80vh;

    }
    #extra
    {
        position: absolute;
        margin-top: 20px;
        background-color: rgb(212, 183, 163);
    }
   button
   {
        
   }
}
@media screen and (max-width:500px) 
{
    #ul
    {
        display: none;
        background-color: rgb(26, 25, 24);
        position: absolute;
        top: 65px;
        left: 0px;
        padding: 10px;
        width: 100%;
        cursor: pointer;
    }
    #menuList
    {
        
    } 
    .menuBar-line{
        cursor: pointer;
        display: block;
        margin-right: 20px;
    }  
    #info
    {
        height: 53vh;
    }
}