body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('https://img.freepik.com/free-vector/dark-blue-memphis-blog-banner-template_53876-98946.jpg');
}
.top
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    align-items: center;
    position: sticky;
    z-index: 0;
    top: 0px;
}
#nameId
{
    color: rgb(244, 243, 240);
    font-weight: 500;
}
#nameId::first-letter
{
    color: rgba(198, 25, 25, 0.009);
    font-size: 55px;
}
#menuList
{
    display: inline;
    padding: 25px;
}
a:link
{
    color: rgb(251, 244, 244);
    text-decoration: none;
}
a:visited
{
    color: rgb(252, 250, 250);
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
.menuBar
{
    display: block;
}
.menuBar-line
{
    height: 4px;
    width: 25px;
    background-color: #fbf8f9;
    margin-bottom: 4px;
    cursor: pointer;

}
    
#ul
{
    display:block;
}
#personal
{
    font-weight: lighter;
    font-size: 25px;
    /* text-align: center; */
    color: white;
}
#nameAuthor
{
    color:rgb(243, 242, 242);
}
#personal,#fromTo
{
    line-height: 100px;
    color: white;
}
#profession
{
    background: linear-gradient(125deg,rgba(251, 249, 249, 0.3),rgba(247, 244, 244, 0.3));
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-image: url("./photo/WhatsApp_Image_2024-01-27_at_9.58.36_AM-removebg-preview.png");
    background-position-y:50%;
    background-position-x: 75%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    backface-visibility: visible;
    height: 55vh;
    margin-bottom: -20px;
}
#aboutMe
{
    color: aliceblue;
    text-align: justify;
    background: linear-gradient(125deg,rgba(251, 249, 249, 0.3),rgba(247, 244, 244, 0.3));
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
   /* display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; */
   height: 270px;
}
#skills,#exp,#edu
{
    background: linear-gradient(125deg,rgba(251, 249, 249, 0.3),rgba(247, 244, 244, 0.3));
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    height: 450px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
#skills p,#exp p,#edu dl
{
    margin-left: 20px;
    /* margin-bottom: 10px; */
}
#exp,#edu,#skills
{
    overflow-y: hidden;
    transition-duration:1s;
    transition-property: all;
    /* width: 300px; */
    transition-timing-function: ease-in;
}
#exp:hover,#edu:hover,#skills:hover
{
    overflow-y: auto;
    transform:scale(1.023);
}

/* my works */

#weather,#blogcard,#receipe
{
    background: linear-gradient(125deg,rgba(165, 244, 202, 0.3),rgba(152, 228, 162, 0.3));
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    height: 465px;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    transition-property: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#omelette
{
    margin-top: 30px;
}
#weather:hover,#blogcard:hover,#receipe:hover
{
    transform: scale(1.023);
}
#weather h1,#blogcard h1,#receipe h1
{
    text-align: center;
}
#weather p,#blogcard p,#receipe p{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
#logo
{
    border-radius: 600px;
    height: 100px;
    width: 100px;
}
#cover{
    background: linear-gradient(125deg,rgba(194, 229, 77, 0.3),rgba(203, 222, 26, 0.3));
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    height: 430px;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    transition-property: inherit;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cover h1
{
    margin-top: 10px;
}
#sendMessage
{
    background: linear-gradient(125deg,rgba(194, 229, 77, 0.3),rgba(203, 222, 26, 0.3));
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    height: 430px;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    transition-property: inherit;
    padding-left: 10px;
    padding-right: 10px;
   
}

#sendMessage form
{
    display: flex;
    flex-direction: column;
    
}
input
{
    background:transparent;
    outline: none;
    border: 2.5px solid gray;
    border-radius: 10px;
    height: 40px;
    padding: 20px;
    color: white;
}
input:placeholder
{
    color: white;
}
textarea
{
    background:transparent;
    outline: none;
    border: 2.5px solid gray;
    border-radius: 10px;
    padding: 20px;
    height: 140px;
    color: white;
}
form button
{
    width: 80px;
}

/* 1115px */
@media screen and (max-width:1115px) {
    #weather,#blogcard,#receipe
    {
        height: 600px;
    }
    
}
/* 990px */
@media screen and (max-width:990px) {
    #aboutMe
    {
        height:350px ;
    }
    #weather,#blogcard,#receipe
    {
        height: 650px;
    }
}

/* 756px */
@media screen and (max-width:765px) 
{
    #aboutMe
    {
        height: 500px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #personal,#fromTo
    {
        font-size: 20px;
        line-height: 80px;
    }
    #ul
    {
        padding-left: 10px;
    }
    .menuBar
    {
        display: block;
    }
    #weather,#blogcard
    {
        height: 380px;
    }
    #blogcard
    {
        margin-top: 30px;
    }
    #weather,#blogcard,#receipe
    {
        height: 600px;
    }
  
}
/* 710px */
@media screen and (max-width:710px) {
    #sendMessage
    {
        margin-top:25px;
    }
}

/* 575 px */
@media screen and (max-width:575.98px) {
    #menuList
    {
        padding: 0px;
    }
    #skills
    {
        height: 200px;
    }
    #exp,#edu
    {
        margin-top: 20px;
        height: 250px;
    }
    #margin h1
    {
        text-align: center;
    }
    #weather
    {
        height: 650px;
    }
}

/* 500px */
@media screen and (max-width:500px) 
{

    #ul
    {
        /* display: none; */
        background-color: rgb(5, 5, 5);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        top: 53px;
        left: 0px;
        padding: 8px;
        width: 100%;
        cursor: pointer;
    }
    #ul li
    {
        padding: 28px;
    }

    .menuBar-line{
        cursor: pointer;
        display: block;
        margin-right: 20px;
    }  

    #weather
    {
        height: 450px;
    }
    #weather
    {
        height: 550px;
    }
   
}
/* 460px */
@media screen and (max-width:460px) {
    #weather
    {
        height: 630px;
    }
}
/* 450px */
@media screen and (max-width:450px) {
    #blogcard
    {
        height: 420px;
    }
}

/* 440px  */
@media screen and (max-width:440px) {
    #aboutMe
    {
        height: 550px;
    }
    #blogcard
    {
        height: 550px;
    }
}
/* 427px */
@media screen and (max-width:427px) {
    #ul li
    {
        padding: 15px;
    }
    
}

/* 420px */
@media screen and (max-width:420px) {
    #aboutMe
    {
        height: 580px;
    }
    #skills
    {
        height: 250px;
    }

    #weather
    {
        height: 750px;
    }
    #blogcard
    {
        height: 700px;
    }
    #receipe
    {
        height: 700px;
    }
}

/* 395px */

@media screen and (max-width:395px) {
    #aboutMe
    {
        height: 620px;
    }
}
/* 370px */

@media screen and (max-width:370px) {
    #aboutMe
    {
        height: 650px;
    }
}

/* 365px */

@media screen and (max-width:366px)
{
    #aboutMe
    {
        height: 750px;
    }
    #ul li
    {
        padding: 10px;
    }
}

/* 330px */
@media screen and (max-width:330px) {
    #ul li
    {
        padding: 5px;
    }
}

/* 320px */
@media screen and (max-width:320px) {
    #aboutMe
    {
        height: 800px;
    }
}
/* 310px */
@media screen and (max-width:310px) {
    #ul li
    {
        padding: 2px;
    }
    #aboutMe
    {
        height: 850px;
    }
    #weather,#receipe,#blogcard
    {
        height: 800px;
    }
}

/* 270px */

@media screen and(max-width:270px) {
    #ul li
    {
        padding: 0.5px;
    }
}